* {
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

#root {
    overflow: hidden;
}

.outer {
    --offset: calc(0.5 * var(--bw));
    margin: var(--offset) var(--offset) 0 var(--offset)
}

.tabnum {
    font-variant: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum"
}

.text-wrap-balance {
    text-wrap: balance;
}

.flex-gs {
    flex-grow: 1;
    flex-shrink: 1;
}