.bar {
    width: 1920px;
    height: 70px;

    position: relative;
    overflow: hidden;
    position: absolute;

    display: flex;
    align-items: center;

    background-color: #351344;

    &>* {
        margin-bottom: 0;
        margin-top: 0;
    }

    & .logo {
        height: 100%;
        padding: 10px;
    }
}