:root {
    --bw: 6px;
}

.cam {
    width: 100%;
    position: relative;
    // border: var(--bs-body-color) solid calc(2 * var(--bw));
}

// .centred-border {
//     border: var(--bs-body-color) solid var(--bw);
//     position: absolute;
//     inset: calc(-0.5 * var(--bw));
//     overflow: hidden;
// }


.cam-inner {
    box-sizing: content-box;
    border: var(--bs-body-color) solid var(--bw);
}