.badge {
    --bs-badge-font-weight: inherit !important;
}

:root {
    --enter-time: 0.4s;
    --leave-time: 0.4s;
}

.fade-wait-leave {
    opacity: 1;
}

.fade-wait-leave.fade-wait-leave-active {
    opacity: 0;
    transition: opacity var(--leave-time) ease-in;
}

.fade-wait-enter {
    opacity: 0;
}

.fade-wait-enter.fade-wait-enter-active {
    opacity: 1;
    /* Delay the enter animation until the leave completes */
    transition: opacity var(--enter-time) ease-in var(--leave-time);
}

.fade-wait-height {
    transition: height calc(var(--enter-time) + var(--leave-time)) ease-in-out;
}

.fill {
    position: absolute;
    inset: 0;
}

.pronouns {
    font-size: 0.6em;
    padding: 0.3rem 0.3rem;
    border-radius: 0.375rem;
    background: #8884;
    text-align: center;
}

.vcentre {
    display: flex;
    align-items: center;
}