.badge {
    --bs-badge-font-weight: inherit !important;
}

.people-leave {
    opacity: 1;
}

.people-leave.people-leave-active {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.people-enter {
    opacity: 0;
}

.people-enter.people-enter-active {
    opacity: 1;
    /* Delay the enter animation until the leave completes */
    transition: opacity 0.25s ease-in 0.25s;
}

.people-height {
    transition: height 0.5s ease-in 0s;
}

.fill {
    position: absolute;
    inset: 0;
}

.pronouns {
    font-size: 0.6em;
    padding: 0.3rem 0.3rem;
    border-radius: 0.375rem;
    background: #8884;
    text-align: center;
}

.vcentre {
    display: flex;
    align-items: center;
}