.people-leave {
    opacity: 1;
}

.people-leave.people-leave-active {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.people-enter {
    opacity: 0;
}

.people-enter.people-enter-active {
    opacity: 1;
    /* Delay the enter animation until the leave completes */
    transition: opacity 0.25s ease-in;
}