.cam {
    width: 100%;
    position: relative;
}

.cam {
    box-sizing: content-box;
    border: currentColor solid var(--bw);
}

// .cam-border {
//     border: currentColor solid var(--bw);
//     width: 100%;
// }