.tabnum {
    font-variant: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum"
}

.bar {
    width: 1920px;
    height: 70px;

    position: relative;
    overflow: hidden;
    position: absolute;

    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 15px;
    padding-right: 15px;

    // background-color: #351344;
    font-size: 32px;
    white-space: nowrap;

    --bs-border-color: var(--bs-emphasis-color);

    &>* {
        margin-bottom: 0;
        margin-top: 0;
        width: auto;
    }

    & .logo {
        height: 100%;
        padding: 10px 0;
    }

    & h2 {
        font-weight: bold;
        color: var(--bs-emphasis-color);
        margin-bottom: unset;
        font-size: 32px;
    }

    // & .ticker {
    //     text-align: center;
    //     width: 10px;
    //     height: fit-content;
    //     // height: 100%;
    //     flex-grow: 1;
    //     flex-shrink: 1;
    //     position: relative;
    //     overflow: hidden;


    //     & .text {
    //         // display: -webkit-box !important;
    //         // -webkit-line-clamp: 3;
    //         // -webkit-box-orient: vertical;
    //         // overflow: hidden;

    //         display: flex !important;
    //         justify-content: center;
    //         align-items: center;
    //         white-space: unset !important;

    //         &>div {
    //             height: fit-content;
    //         }
    //     }
    // }

    & .vr {
        width: var(--bs-border-width);
        height: 70%;
        background-color: var(--bs-border-color);
        opacity: 1;
        align-self: unset;
        margin: 0 5px;
    }
}



.wrapper {
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    flex-grow: 1;
    flex-shrink: 1;
}

.element {
    position: absolute;
    padding-left: 100%;
    padding-right: 100px;
    top: 0;
    animation-duration: var(--animationDuration);
    animation-timing-function: linear;
    display: inline-block;
    animation-name: marquee;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}