.tabnum {
    font-variant: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum"
}

.animText>span,
.animText>span div {
    display: block;
    height: 67px;
}

.bar {
    width: 1920px;
    height: 70px;

    position: relative;
    overflow: hidden;
    position: absolute;

    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 15px;
    padding-right: 15px;

    // background-color: #351344;
    font-size: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;

    --bs-border-color: var(--bs-emphasis-color);
    border-top: var(--bw) solid;

    &>* {
        margin-bottom: 0;
        margin-top: 0;
        width: auto;
    }

    & .logo {
        height: 100%;
        padding: 10px 0;
    }

    & span {
        font-weight: bold;
        color: var(--bs-emphasis-color);
        margin-bottom: unset;
        line-height: 1;
    }

    & .ticker {
        text-align: center;
        width: 10px;
        height: fit-content;
        max-height: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        // overflow: hidden;


        & .text {
            // display: -webkit-box !important;
            // -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;
            // overflow: hidden;

            display: flex !important;
            justify-content: center;
            align-items: center;
            white-space: unset !important;
            text-wrap: balance;
            font-weight: 500 !important;

            &>div {
                height: fit-content;
                max-height: 55px;
            }

            &>div>span {
                font-weight: 500 !important;
            }
        }
    }

    & .vr {
        width: var(--bs-border-width);
        height: 70%;
        background-color: var(--bs-border-color);
        opacity: 1;
        align-self: unset;
        margin: 0 5px;
    }
}


// .fade-wait-leave {
//     opacity: 1;
// }

// .fade-wait-leave.fade-wait-leave-active {
//     opacity: 0;
//     transition: opacity 0.4s ease-in;
// }

// .fade-wait-enter {
//     opacity: 0 !important;
// }

// .fade-wait-enter.fade-wait-enter-active {
//     opacity: 1 !important;
//     /* Delay the enter animation until the leave completes */
//     transition: opacity 1s linear 0.6s;
//         -webkit-transition: opacity 1s linear 0.6s;
// }

// .fade-wait-height {
//     transition: height 0.4s ease-in-out 0.6s;
// }

:root {
    --enter-time: 0.4s;
    --leave-time: 0.4s;
}

.fade-wait-leave {
    opacity: 1;
    transition-delay: 0;
}

.fade-wait-leave.fade-wait-leave-active {
    opacity: 0;
    transition: opacity var(--leave-time) ease-in;
}

.fade-wait-enter {
    opacity: 0;
}

.fade-wait-enter.fade-wait-enter-active {
    opacity: 1;
    transition: opacity var(--enter-time) ease-out var(--leave-time);
}

.fade-wait-height {
    transition: height calc(var(--enter-time)) ease-in-out;
}