html {

    background-color: #201A2B;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background: url("../assets/bg.png") top / cover no-repeat fixed;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}