.card {
    border-color: white;
    color: white;
    padding: 0.3em;
    padding-bottom: 0.35em;
    border-width: var(--bw);
    border-radius: 15px;
}

h2 {
    font-size: 1.5em;
}

*:last-child {
    margin-bottom: 0;
}

.main {
    text-align: center;
}

.upcoming {
    justify-content: space-between;
}